.button {
  text-decoration: none;
  text-align: center;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border-radius: 66px;
  cursor: pointer;
  padding: 13px 45px;
  flex-shrink: 1;
}

.button_primary {
  background: #1f1f1f;
  color: #ffffff;
}

.button_primary:hover {
  background: #fbce51;
  color: inherit;
}

.button_secondary {
  border: 2px solid #1f1f1f;
  color: #1f1f1f;
}

.button_secondary:hover {
  background: #1f1f1f;
  color: #ffffff;
}

.button_big {
  width: 542px;
}

.button_small {
  border-radius: 62px;
  border: 1px solid #3057a2;
  color: #3057a2;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  line-height: 120%;
}

.button_small:hover{
  background: #3057A2;
  color: #ffffff;
}
