.button {
  align-items: center;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  border-radius: 66px;
  cursor: pointer;
  padding: 13px 45px;
}

.button_primary {
  background: #1f1f1f;
  color: #FFFFFF;
}

.button_primary:hover {
  background: #FBCE51;
  color: inherit;
}

.button_secondary {
  border: 2px solid #1f1f1f;
}

.button_secondary:hover {
  background: #1f1f1f;
  color: #FFFFFF;
}

.button_big {
  width: 542px;
}
