html {
  scroll-behavior: smooth;
}

.page {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Merriweather", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  background-color: #ffffff;
  max-width: 1366px;
  min-width: 375px;
  margin: 0 auto;
  color: #313131;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* @media screen and (max-width: 635px) {
  .page {
    width: 320px;
  }
} */
