.footer {
  background-color: #e9ded4;
  padding-bottom: 30px;
}

.footer__content {
  padding: 40px 72px;
}

.footer__text {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Golos Text";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
