@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.runningLine {
  height: 24px;
  padding: 18px 12px;
  background-color: #f54932;
  overflow: hidden;
}

.runningLine__content {
  display: flex;
  animation: marquee 15s linear infinite ;
  -webkit-transform-style: preserve-3d; /* Фикс возможного глюка с морганием в Сафари */
}

.runningLine__item {
  color: #fff;
  text-align: right;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: Merriweather;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 24.2px */
  text-transform: uppercase;
  white-space: nowrap;
  flex-shrink: 0;
  -webkit-backface-visibility: hidden; /* Фикс возможного глюка с морганием в Сафари */
}
